.mss-datepicker.theme-zn-blue {
  font-size: 16px; }
  .mss-datepicker.theme-zn-blue .mss-calendar {
    position: absolute;
    top: 40px;
    width: 290px;
    border: none; }
    .mss-datepicker.theme-zn-blue .mss-calendar .mss-header {
      text-align: center;
      padding: 8px 55px;
      color: #fff;
      background-color: #4bb4e7;
      position: relative; }
    .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-prev, .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-next {
      position: absolute;
      background-color: transparent;
      top: 8px;
      bottom: 0;
      height: auto;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      -webkit-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-prev:before, .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-next:before {
        position: absolute;
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        border-left: 2px solid #fff;
        border-top: 2px solid #fff;
        top: 15px; }
    .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-prev {
      left: 8px; }
      .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-prev:before {
        left: 17px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-prev:hover {
        background-color: #2c91c2; }
        .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-prev:hover:before {
          border-color: #fff; }
    .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-next {
      right: 8px; }
      .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-next:before {
        right: 17px;
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg); }
      .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-next:hover {
        background-color: #2c91c2; }
        .mss-datepicker.theme-zn-blue .mss-calendar .mss-to-next:hover:before {
          border-color: #fff; }
    .mss-datepicker.theme-zn-blue .mss-calendar .mss-month, .mss-datepicker.theme-zn-blue .mss-calendar .mss-year {
      display: block;
      line-height: 40px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      -webkit-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
    .mss-datepicker.theme-zn-blue .mss-calendar .mss-month, .mss-datepicker.theme-zn-blue .mss-calendar .mss-header-month .mss-year {
      cursor: pointer; }
      .mss-datepicker.theme-zn-blue .mss-calendar .mss-month:hover, .mss-datepicker.theme-zn-blue .mss-calendar .mss-header-month .mss-year:hover {
        background-color: #2c91c2; }
  .mss-datepicker.theme-zn-blue .mss-table {
    border: 1px solid #d9dada; }
    .mss-datepicker.theme-zn-blue .mss-table td {
      text-align: center;
      vertical-align: middle;
      padding: 2px; }
      .mss-datepicker.theme-zn-blue .mss-table td span {
        display: block;
        padding: 6px 7px;
        text-decoration: none;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        color: #000;
        cursor: pointer;
        -webkit-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease; }
        .mss-datepicker.theme-zn-blue .mss-table td span:hover {
          background-color: #4bb4e7;
          color: #fff; }
        .mss-datepicker.theme-zn-blue .mss-table td span.mss-prev, .mss-datepicker.theme-zn-blue .mss-table td span.mss-next {
          color: #b1b2b3; }
          .mss-datepicker.theme-zn-blue .mss-table td span.mss-prev:hover, .mss-datepicker.theme-zn-blue .mss-table td span.mss-next:hover {
            background-color: #4bb4e7;
            color: #fff; }
    .mss-datepicker.theme-zn-blue .mss-table .mss-weekend, .mss-datepicker.theme-zn-blue .mss-table .mss-holiday {
      color: red; }
      .mss-datepicker.theme-zn-blue .mss-table .mss-weekend.mss-prev, .mss-datepicker.theme-zn-blue .mss-table .mss-weekend.mss-next, .mss-datepicker.theme-zn-blue .mss-table .mss-holiday.mss-prev, .mss-datepicker.theme-zn-blue .mss-table .mss-holiday.mss-next {
        color: #ff8989; }
    .mss-datepicker.theme-zn-blue .mss-table .mss-desabled {
      background-color: #ebebeb;
      color: #999;
      pointer-events: none; }
      .mss-datepicker.theme-zn-blue .mss-table .mss-desabled.mss-weekend, .mss-datepicker.theme-zn-blue .mss-table .mss-desabled.mss-holiday {
        color: #ff8989; }
    .mss-datepicker.theme-zn-blue .mss-table .mss-today {
      background-color: #9fdaf7; }
    .mss-datepicker.theme-zn-blue .mss-table tr td:first-child {
      padding-left: 20px; }
    .mss-datepicker.theme-zn-blue .mss-table tr td:last-child {
      padding-right: 20px; }
    .mss-datepicker.theme-zn-blue .mss-table .mss-days tr:first-child td {
      padding-top: 20px; }
    .mss-datepicker.theme-zn-blue .mss-table .mss-days tr:last-child td {
      padding-bottom: 20px; }
    .mss-datepicker.theme-zn-blue .mss-table .mss-weekdays {
      border-left: 1px solid #4bb4e7;
      border-right: 1px solid #4bb4e7;
      border-top: 1px solid #4bb4e7;
      border-bottom: none; }
      .mss-datepicker.theme-zn-blue .mss-table .mss-weekdays td {
        padding-top: 10px;
        padding-bottom: 20px;
        background-color: #4bb4e7;
        color: #fff; }
  .mss-datepicker.theme-zn-blue .mss-months ul, .mss-datepicker.theme-zn-blue .mss-years ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border: 1px solid #d9dada;
    border-top: none;
    padding: 20px 20px 15px; }
    .mss-datepicker.theme-zn-blue .mss-months ul li, .mss-datepicker.theme-zn-blue .mss-years ul li {
      width: 31%;
      text-align: center;
      margin-bottom: 5px;
      padding: 6px 7px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      cursor: pointer;
      -webkit-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      .mss-datepicker.theme-zn-blue .mss-months ul li:hover, .mss-datepicker.theme-zn-blue .mss-years ul li:hover {
        background-color: #4bb4e7;
        color: #fff; }

.mss-datepicker.theme-table {
  font-size: 12px; }
  .mss-datepicker.theme-table .mss-calendar .mss-header {
    background-color: #1875ba;
    color: #fff;
    font-size: 14px;
    font-weight: bold; }
    .mss-datepicker.theme-table .mss-calendar .mss-header .mss-to-prev:before, .mss-datepicker.theme-table .mss-calendar .mss-header .mss-to-next:before {
      border-color: #fff; }
    .mss-datepicker.theme-table .mss-calendar .mss-header .mss-to-prev, .mss-datepicker.theme-table .mss-calendar .mss-header .mss-to-next, .mss-datepicker.theme-table .mss-calendar .mss-header .mss-month, .mss-datepicker.theme-table .mss-calendar .mss-header .mss-year {
      -webkit-border-radius: 0;
              border-radius: 0; }
    .mss-datepicker.theme-table .mss-calendar .mss-header .mss-to-prev:hover, .mss-datepicker.theme-table .mss-calendar .mss-header .mss-to-next:hover, .mss-datepicker.theme-table .mss-calendar .mss-header .mss-month:hover, .mss-datepicker.theme-table .mss-calendar .mss-header.mss-header-month .mss-year:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.1); }
  .mss-datepicker.theme-table .mss-calendar .mss-months ul, .mss-datepicker.theme-table .mss-calendar .mss-years ul {
    padding: 10px; }
    .mss-datepicker.theme-table .mss-calendar .mss-months ul li:hover, .mss-datepicker.theme-table .mss-calendar .mss-years ul li:hover {
      background-color: #1875ba;
      -webkit-border-radius: 0;
              border-radius: 0;
      color: #fff; }
  .mss-datepicker.theme-table .mss-calendar .mss-table {
    margin: 5px;
    width: -webkit-calc(100% - 11px);
    width: calc(100% - 11px); }
    .mss-datepicker.theme-table .mss-calendar .mss-table .mss-weekdays td {
      padding: 5px 0;
      border: none; }
    .mss-datepicker.theme-table .mss-calendar .mss-table .mss-days td {
      padding: 0;
      border: 1px solid #d9dada; }
      .mss-datepicker.theme-table .mss-calendar .mss-table .mss-days td span {
        padding: 5px 0; }
        .mss-datepicker.theme-table .mss-calendar .mss-table .mss-days td span:hover {
          background-color: #1875ba; }
